<%- include ("partials/header") %>
<div class="container">
    <header class="jumbotron jumbotron-fluid p-4">
        <div class="container">
            <h1 class="display-4 mx-3">Welcome to DUCS Datastore!</h1>
            <hr class="my-4">
            <p>
                A place to find all study material for the students of <strong>Department of Computer Science</strong>, Delhi University. 
            </p>
        </div>
    </header>

    <img src="/a.jpg">
    
</div>
<%- include ("partials/footer.ejs") %>